.mod_login {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod_login_content {
    width: 50vw;
    height: 60vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod_login_content_body {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;

}
.mod_login_body_login, .mod_login_body_reg {
    margin-top: 8vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_reg {
    margin-left: 2vh;
}
.mod_login_body_nav span {
    cursor: pointer;
}